body {
    padding: 0;
    margin: 0;
    min-width: 280px;
    height: 100%;
    box-sizing: border-box;
}

.wrapper {
    background: #eefbff;
    min-height: 100vh;
}

.container {
    display: flex;
    min-height: 100vh;
    max-width: 1500px;
    margin: 0 auto;
}



/* form container */

.container__form-container {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: flex-start;
    min-width: 250px;
}

button[data-action="add"] {
    background-color: black;
    outline: none;
    cursor: pointer;
    color: white;
    border: 2px solid black;
    padding: 10px 15px;
    font-size: 16px;
    opacity: 0.8;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5px;
    background-color: #ebe5ad;
    /* background-color: #b9dee9; */
    max-width: 265px;
}

.close {
    display: none;
    /* visibility: hidden; */
}

.open {
    display: flex;
    /* visibility: visible; */
}


.select {
    padding: 3px 0px;
    margin: 3px auto;
    background-color: inherit;
    height: 30px;
    border: none;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
}
select:-internal-list-box {
    border-radius: 2px;
}
select:focus {
    outline-offset: 0px;
}


option {
    display: inline-flex;
    border: 1px solid black;
    margin: 2px 5px;
    cursor: pointer;
    opacity: 0.8;
    color: cornsilk;
}

option[value="not-imp"] {
    background-color: rgb(82, 126, 82);
}
option[value="imp"] {
    background-color: rgb(207, 191, 44);
}option[value="very-imp"] {
    background-color: rgb(224, 60, 31);;
}

option:hover {
    opacity: 1;
}

option:focus {
    outline: none;
    
}


input[type="text"] {
    color: brown;
    background-color: #fffef0;
    outline: none;
    border: none;
    border-bottom: 2px solid grey;
    padding: 15px 0 5px 3%;
    font-size: 16px;
    display: inline-block;
    height: 100%;
    opacity: 0.8;
}

input[type="text"]:hover {
    border-bottom: 2px solid brown;
    opacity: 1;
}

.form-buttons {
    display: flex;
}

input[type="submit"] {
    outline: none;
    border: none;
    background-color: rgb(22, 18, 18);
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    margin: 0;
    margin-right: 3px;
    opacity: 0.8;
    width: 80%;
    display: inline;
    line-height: 15px;
}

input[type="submit"]:hover {
    opacity: 0.9;
}

.close_form {
    outline: none;
    border: none;
    background-color: rgb(22, 18, 18);
    cursor: pointer;
    color: rgb(179, 23, 23);
    padding: 10px 2px;
    margin: 0;
    margin-left: 2px;
    opacity: 0.8;
    width: 15%;
    display: inline;
    line-height: 15px;
    text-align: center;
}



/* tasks container */

.container__tasks-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
    margin: 0 auto;
}

.not-important-task-col {
    color: darkgreen;
}

.important-task-col {
    color: goldenrod;
}

.very-important-task-col {
    color: darkred;
}

.list-container {
    justify-content: center;
    margin: 10px;
}

h2 {
    text-align: center;
    display: inline;
    cursor: pointer;
}
h2:hover {
    text-decoration: underline;
}

h2.chosen {
    text-decoration: underline;
}
h2.chosen:hover {
    text-decoration: none;
}

ul {
    padding-inline-start: 0;
}

li {
    display: flex;
    margin-right: 10px;
    list-style-type: none;
    list-style-position: inside;
    /* align-items: center;
    height: 25px;
    transition: height .3s ease-out;*/
}

.clean {
    display: none;
}

input[type="checkbox"] {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.delete {
    height: 15px;
    margin-left: 5px;
    cursor: pointer;
}


/* media */

@media (min-width: 1200px) {
    .container__form-container {
        justify-content: flex-end;
    }
}

/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }
}

@media (max-width: 767px) and (min-width: 481px) {
    .container__form-container {
        justify-content: flex-start;
    }
}

/* Landscape phones and smaller */

@media (max-width: 480px) {

    .container__form-container {
        justify-content: center;
    }


    .container__tasks-container{
        flex-direction: column-reverse;
        margin: 0px;
        align-items: center;
        width: 100%;
    }

    .list-container {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .title {
        text-align: center;
        display: inline;
    }

    ul {
        padding-inline-start: 10px;
    }

    .not-important-task-col {
        background-color: darkseagreen;
    }    
    .important-task-col {
        background-color: khaki;
    } 
    .very-important-task-col {
        background-color: lightsalmon;
    }
}